@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* colores */
  --background: #fbf8f5;
  --bg-metal: #ced4da;
  --bg-mostaza: #ffcb69;
  --bg-naranja1: #d08c60;
  --bg-marron: #997b66;
  --bg-verde-oliva: #797d62;
  --bg-azul: #023047;
  --bg-rosita: #f7bfd8;
  --bg-color-lila: #cbc6f4;
  --bg-naranja: #eb5e28;
  --bg-naranja-claro: #f4a261;

  /* colores de textos */
  --text-color-blanco: #fafafa;
  --text-color-negro: #000000;
  --text-color-gris: #6666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "poppins", sans-serif;
  /* border: 1px solid red; */
}
body {
  background-color: var(--background);
  font-family: "poppins";
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
header {
  background-color: var(--background);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 40px;
  position: relative;
  top: 0;
}
.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar li {
  font-size: 18px;
  font-weight: 600;
  background-color: var(--bg-color-lila);
  padding: 12px;
  border-radius: 1rem;
}

.navbar a {
  color: var(--text-color-negro);
}

.login-container {
  flex-direction: column;
  background-color: var(--bg-metal);
  width: 400px;
  height: 700px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 4px 3px 10px 4px #000000;
  margin-top: 12px;
}
.logo-container img {
  width: 110px;
  align-items: center;
}
.nombre-escuela {
  margin-top: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  background: linear-gradient(to left, #cbc6f4, #eb5e28);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.text-below-name p {
  font-size: 16px;
  margin-top: 12px;
  text-align: initial;
  font-weight: 600;
  color: var(--text-color-negro);
}
.imputs {
  margin-top: 8px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 250px;
}
.imputs input {
  margin-bottom: 4px;
  border-radius: 8px;
  height: 30px;
  box-shadow: 2px 4px 3px 2px rgba(0, 0, 0, 0.75);
  padding-left: 8px;
}
.registrarse {
  margin-top: 20px;
  border-radius: 12px;
  background: var(--bg-color-lila);
  height: 40px;
  color: var(--text-color-negro);
  font-size: 18px;
  font-weight: 600;
  padding: 8px;
  cursor: pointer;
}
.ingreso-redes {
  margin-top: 14px;
}
.ingreso-redes p {
  font-size: 12px;
  font-weight: 600;
}
.ingreso-redes a,
i {
  margin-top: 12px;
  font-size: 30px;
  padding: 10px;
  color: var(--text-color-negro);
}
@media (max-width: 576px) {
  .login-container {
    width: 90%;
  }
}
