@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* colores */
  --background: #fbf8f5;
  --bg-rojo: #e71d36;
  --bg-azul: #003049;
  --bg-naranja: #f77f00;
  --bg-mostaza: #fcbf49;
  --bg-amarillopastel: #eae2b7;
  --bg-verde: #70e000;
  --bg-negroclaro: #212529;

  /* colores de textos */
  --text-color-blanco: #fafafa;
  --text-color-negro: #000000;
  --text-color-gris: #6666;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "poppins", sans-serif;
  border: 1px solid red;
}
body {
  background-color: var(--background);
  font-family: "poppins";
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*  header */
header {
  background-color: var(--bg-azul);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 40px;
  position: static;
  top: 0;
  color: var(--text-color-blanco);
}
.logo {
  height: 80%;
  gap: 40px;
  cursor: pointer;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
.redes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 30px;
}

.nav.navbar {
  gap: 200px;
}
.navbar-list {
  gap: 30px;
}
.navbar-list li,
a {
  color: var(--text-color-gris);
}
.navbar-list a {
  font-size: 14px;
}
.navbar-list li:first-child > a {
  color: var(--text-color-blanco);
  font-weight: 600;
}

/*  Main */
main {
  background: var(--bg-negroclaro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* Hero */
#hero {
  margin-top: 12px;
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  align-items: center;
}
.hero-info h1 {
  font-size: 48px;
  width: 80%;

  min-width: 500px; /*Para que nunca ocupe menos que esto en desktop*/
  background: linear-gradient(to top, #fcbf49, #e71d36);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;

  font-weight: 800;
}
.hero-info p {
  font-size: 14px;
  width: 70%;
  color: var(--text-color-negro);
}

.card {
  width: 300px;
  background-color: var(--bg-azul);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  color: var(--text-color-blanco);
}
.hero-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero-card-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.hero-card-top span {
  color: var(--bg-verde);
}
.hero-card-top h3 {
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hero-card-botton {
  display: flex;
  justify-content: space-between;
  padding: 0px 12px 0px 12px;
}
.marca-ensambladora {
  font-size: 20px;
}
