@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* colores */
  --background: #fbf8f5;
  --bg-metal: #ced4da;
  --bg-mostaza: #ffcb69;
  --bg-naranja1: #d08c60;
  --bg-marron: #997b66;
  --bg-verde-oliva: #797d62;
  --bg-azul: #023047;
  --bg-rosita: #f7bfd8;
  --bg-color-lila: #cbc6f4;
  --bg-naranja: #eb5e28;
  --bg-naranja-claro: #f4a261;
  --background: #fbf8f5;
  --background-secondary: #fdfaed;
  --bg-rojo: #e71d36;
  --bg-azul: #003049;
  --bg-naranja: #f77f00;
  --bg-mostaza: #fcbf49;
  --bg-amarillopastel: #eae2b7;
  --bg-verde: #70e000;
  --bg-negroclaro: #212529;
  --bg-electric: #64d3ff;

  /* colores de textos */
  --text-color-blanco: #fafafa;
  --text-color-negro: #000000;
  --text-color-gris: #6666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "poppins", sans-serif;
  /* border: 1px solid red; */
}
body {
  background-color: var(--background);
  font-family: "poppins";
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
header {
  background-color: var(--bg-azul);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 40px;
  position: relative;
  top: 0;
  box-shadow: 0px 4px 3px 2px rgba(0, 0, 0, 0.75);
}
.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar li {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  padding: 12px;
  border-radius: 1rem;
}
.navbar li ::after {
  content: "";
  height: 4px;
  width: 100%;
  background: var(--text-color-blanco);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.15s ease;
}
.navbar li :hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.navbar a {
  color: var(--text-color-blanco);
}

.form__container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-metal);
  width: 400px;
  height: 700px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 4px 3px 10px 4px #000000;
  margin-top: 70px;
}
.logo-container img {
  width: 90%;
  align-items: center;
}
.form__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  margin-top: 12px;

  font-weight: 600;
  color: var(--text-color-negro);
}
.section-login {
  margin-top: 40px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  height: 250px;
}
.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  gap: 12px;
  /* box-shadow: 2px 4px 3px 2px rgba(0, 0, 0, 0.75); */
  padding-left: 8px;
  align-items: center;
}
.form__field.error input {
  border: 1px solid red;
}
.form__field.success input {
  border: 1px solid var(--bg-verde);
}
.small {
  color: red;
  max-width: 350px;
  text-align: center;
  padding: 7px 0;
}
.form__submit__btn {
  margin-top: 20px;
  border-radius: 12px;
  background: var(--bg-azul);
  height: 40px;
  color: var(--text-color-blanco);
  font-size: 18px;
  font-weight: 600;
  padding: 8px;
  cursor: pointer;
}
.form__input {
  padding: 15px 35px 15px 15px;
  width: 300px;
}
/*REDES  */
.ingreso-redes {
  margin-top: 14px;
}
.ingreso-redes p {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}
.ingreso-redes a,
i {
  margin-top: 12px;
  font-size: 30px;
  padding: 10px;
  color: var(--text-color-negro);
}
@media (max-width: 576px) {
  .form__container {
    width: 90%;
  }
  .form__input {
    width: 90%;
  }
}
